<h2>Please Create or Login to see Server Status</h2>
<div>
<button class="new" onclick="window.location.href='/auth/signup'">Signup</button>
<button class="new" onclick="window.location.href='/auth/login'">Login</button>
<button class="new" onclick="window.location.href='/auth/logout'">Logout</button>
<button class="new" onclick="window.location.href='/profile'">profile</button>
<button class="new" onclick="window.location.href='/locations'">Saved Locations</button>
</div>
