<h2>Please Create or Login to see Server Status</h2>

<button onclick="window.location.href='/auth/signup'">Signup</button>
<button onclick="window.location.href='/auth/login'">Login</button>
<button onclick="window.location.href='/auth/logout'">Logout</button>
<button onclick="window.location.href='/profile'">profile</button>
<button onclick="window.location.href='/locations'">Saved Locations</button>
