<h2>Profile Page</h2>

<button onclick="window.location.href='/'">Home</button>
<button onclick="window.location.href='/locations'">Saved Locations</button>

<% if (status) { %>
  <h3>Status: <%= status %></h3>
<% } %>